.autocomplete-active {
    background-color: rgb(205, 205, 205);
}

.autocomplete-item:hover {
    background-color: rgb(205, 205, 205);
}

.text-right {
    text-align: right;
}
.text-left {
    text-align: left;
}
.text-center {
    text-align: center;
}