.navbar 
{
    background-color: #ffc425;
}

.navbar-nav .nav-link.active {
    background-color: #000000;
    border-radius: 5px;
    color: white;
}

.nav-link {
    font-size: 1.50rem;
}

.nav-icon {
    margin-right: 5px;
}