.navbar 
{
    background-color: #ffc425;
}

.navbar-nav .nav-link.active {
    background-color: #000000;
    border-radius: 5px;
    color: white;
}

.nav-link {
    font-size: 1.50rem;
}

.nav-icon {
    margin-right: 5px;
}

.year-selector-container {
    background-color: #f0f0f0; /* Change this to your desired background color */
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
}

body {
    background: #ffdb77;
}

.autocomplete-active {
    background-color: rgb(205, 205, 205);
}