#openSidebar {
    position: fixed;
    left: 0;
    top: 50%;
    width: auto;
    height: auto;
    padding: 10px;
    background-color: #ffc425;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    z-index: 1001;
    opacity: 0.5;
    transition: 0.3s;
}

#openSidebar:hover {
    opacity: 1;
    transition: 0.3s;
}

.sidebar {
    background-color: #e8dfc2;
    padding: 15px;
    overflow-y: auto;
    border-right: 4px solid #ffc425;
}

.main-content {
    padding: 15px;
}

.container-fluid {
    display: flex;
    padding-left: 3;
    padding-right: 0;
}

@media (max-width: 767.98px) {
    .container-fluid {
        display: block;
    }
    .sidebar {
        height: auto;
        position: relative;
        top: 0;
        border-right: none;
        padding-right: 0;
    }
}